.topbarContainer {
  height: 90px;
  width: 100%;
  background-color:rgb(15 26 63);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  --above-all-in-container: 10000;
}

.topbarLeft {
  flex: 3;
}

.logo {
  transition: all 0.2s;

  align-items: center;
  align-content: center;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  font-size: 38px;
  padding-top: 10px;
}

.topbarCenter {
  flex: 5;
}


.topbarRight {
  flex: 7;
  display: flex;
}
.topbarRight span{
  margin: 30px;
  font-family:   "Times New Roman", Times, serif;
  color: white;


}
.topbarLink {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: arial;
}

.topbarLink:hover{
  color:lightgrey;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profileLink{
  color: white;
  margin:25px;
}
.contact span{
  background-color:white;
  padding: 3px;
  font-family:monospace;
  color:rgb(15 26 63);
  margin: 3px;
}
.contact span:hover{
  color:;
  background-color: rgb(15 26 63);
  font-smooth: auto;
  transition: all 0.5s ease;
}

