.NavContainer {
  height: 90px;
  width: 100%;
  background-color:rgb(15 26 63);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  --above-all-in-container: 10000;
}

.NavLinks {

}
.Navlogo{
  color: white;
  font-weight: 500;
  font-size: 35px;
}

.NavContainer{
}
.NavList_Elements .contact{
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  color: rgb(15 26 63);
}

.NavMenuIcon {
  display: none;
  color: white;

}
.NavList_Elements{
   margin: auto;
}

.NavList_Elements ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.NavList_Elements ul li:not(:last-child) {
  margin-right: 40px;
}

.NavList_Elements ul a {
  color: white;
  font-size: 19px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
}

.NavList_Elements ul a.active {
  color: grey;
  font-weight: 500;
}

/*.NavList_Elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}*/


@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 719px)
{

  .NavList_Elements ul a {
  font-size: 18px;
}
.NavMenuIcon {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.NavList_Elements{
  position: absolute;
  right: 0;
  top: 80px;
  width: 0px;
  background-color:rgb(15 26 63);
  height: calc(100vh - 60px);
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.logout{
    /* corner lay endehon 0 maderg becha */
  position: absolute;
  margin-top: 55%;
  left: 45%;
}
.NavList_Elements.active {
  width: 250px;
  height: 250px;
}

.NavList_Elements ul {
  display: flex;
  flex-direction: column;
}

.NavList_Elements ul li {
  margin-right: unset;
  margin-top: 15px;
}
}
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
 {
.NavList_Elements ul li:not(:last-child) {
  margin-right: 25px;
  font-size: 10px;
}
.NavContainer{
}
}
/*
@media only screen 
and (min-width : 321px) {
}
@media only screen 
and (max-width : 320px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}*/
